:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._pr-4px{padding-right:4px;}
:root ._pl-4px{padding-left:4px;}
:root ._pt-2px{padding-top:2px;}
:root ._pb-2px{padding-bottom:2px;}
:root ._mt-4px{margin-top:4px;}
:root ._fd-row{flex-direction:row;}
:root ._mb-1316330145{margin-bottom:var(--space-11);}
:root ._col-675002279{color:var(--color);}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016264{font-weight:var(--f-we-8);}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-16px{font-size:16px;}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._fg-1{flex-grow:1;}
:root ._fs-1{flex-shrink:1;}
:root ._maw-50px{max-width:50px;}
:root ._fg-4{flex-grow:4;}
:root ._ta-right{text-align:right;}
:root ._jc-flex-end{justify-content:flex-end;}
:root ._maw-100px{max-width:100px;}