:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._gap-4px{gap:4px;}
:root ._pt-4px{padding-top:4px;}
:root ._pr-4px{padding-right:4px;}
:root ._pb-4px{padding-bottom:4px;}
:root ._pl-4px{padding-left:4px;}